.effect-6{
    background-color: #376693;
    transform-style: preserve-3d;
}

.effect-6::after{
    top: -100%;
    left: 0px;
    width: 100%;
    padding: 20px;
    position: absolute;
    background-color: #3a9999;
    border-radius: 10px;
    box-sizing: border-box;
    content: 'Mudou!';
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

.effect-6:hover{
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}